body {
    background-color: black;
    color: white;
    background-image: url("assets/super_choque_10.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    height: 240px;
    border: 5px solid white;
    border-radius: 30px;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    background-color: rgba(162, 0, 255, 1);
    color: rgb(255, 217, 0);

}

p {
    color: rgb(153, 0, 255);
    display: flex;
    align-items: center;
    justify-content: center;

}

footer p {
    color: rgb(32, 117, 117);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.noticia1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 2px;
    background-color: rgb(99, 31, 126);
    color: rgb(7, 7, 7);
    border: 10px rgb(83, 61, 61);
    border-radius: 10px;

}

.noticia2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 2px;
    background-color: rgb(99, 31, 126);
    color: rgb(7, 7, 7);
    border: 10px rgb(83, 61, 61);
    border-radius: 10px;

}

.noticia3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 2px;
    background-color: rgb(99, 31, 126);
    color: rgb(7, 7, 7);
    border: 10px rgb(83, 61, 61);
    border-radius: 10px;

}

h2 {
    color: rgb(165, 98, 228);
}



h3 {
    color: rgb(234, 0, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: ;

    margin-left: 5%;
}

h4 {
    color: rgb(224, 9, 9);
    display: flex;
    align-items: center;
    justify-content: center;

}

hr {
    color: blueviolet;
    background-color: blueviolet;
}