body {
    background-color: black;
    color: white;
}

img {
    height: 300px;
    border: 5px solid white;
    border-radius: 30px;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    background-color: rgba(114, 9, 175, 0.527);
    color:rgb(255, 217, 0);

}

p {
    color: rgba(207, 171, 7, 0.678);
}

footer p {
    color: rgb(11, 197, 197);
}